<div class="container">
	<section class="wide" id="mainjumbo">
		<h1 class="text-center">Where is your startup going?</h1>
		<p class="lead text-center">Create beautiful, dynamic roadmaps that make it easy to know where your team's headed.</p>
		<div class="row">
			<div class="col-md-12">
				<%= link_to 'Try it free', new_user_registration_path, class: 'btn btn-success btn-lg btn-block box-center', id: 'main-cta' %>
			</div>
		</div>				
	</section>
		
	<div class="row">
		<div class="text-center">
			<h2>Simple, speedy and powerful</h2>
			<p>Roadmapper helps you create and upkeep design documents and roadmaps.</p>
		</div>
	</div>
	
<hr>

<section>
	<div id="valueprop" class="row">
		<div class="col-md-4">
			<div class="panel homepanels panel-default">
			  <div class="panel-body">
			    <h2>Plan</h2>
				<li>Define your objectives and automatically generate a beautiful roadmap, clearly laid out timelines and reports.</li>
				<br>
				<%= link_to 'See how to Roadmapper helps you plan', tour_path %>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel homepanels panel-default">
			  <div class="panel-body">
			    <h2>Visualize</h2>
				<li>Your roadmap evolves as your team contributes to your project. Roadmapper speaks to Github to bring in your latest updates.</li>
				<br>
				<%= link_to 'See how Roadmapper visualizes your progress', tour_path %>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel homepanels panel-default">
			  <div class="panel-body">
			    <h2>Share</h2>
				<li>Communicate your progress to employees, investors and customers so as to where you're headed.</li>
				<br>
				<%= link_to 'See how Roadmapper helps communicate', tour_path %>
			  </div>
			</div>
		</div>
		</div>
	</div>
</section>

<section>
	
</section>