<div class="container-fluid">
	<div class="page-header text-center" id="signedin-header">
	  <h1 class="inline"><small>Welcome <%= current_user.name %>!</small></h1> 
	  <div>
			<span class="label label-success" data-toggle="modal" data-target="#myModal" id="tutorialcta">First time here?</span>
	  </div>
	</div>
	<!-- Button trigger modal -->


	<!-- Modal -->
	<%= render partial: 'tutorialmodal' %>

</div>

