<div class="container">
	<div class="row text-center">
		<h1>What is Roadmapper?</h1>
		<div class="col-md-8 col-md-offset-2">
			<p id="pitch" class=" lead">Road..mapper is dead simple, powerful and speedy software as a service that helps you create and upkeep design documents and roadmaps.</p>
		</div>
	</div>	


	<hr>

	<h1 class="text-center">The Roadmapping Process</h1>
	
	<ul>
		<li><strong>1. Decide the detail level and amount of time you want to spend creating the roadmaps</strong></li>
		<p>How much time do you have to plan this roadmap? small/medium/large</p>
		
		<h4>Type of Roadmap</h4>
		<p>Market and Strategy, Visionary, Technology, Platform and Product (Internal and External)</p>
		<h5>Market and Strategy Roadmap</h5>
		<p>These roadmaps paint a picture of which markets you will be going after and how you plan to develop the products for each segment. For example, in year 1 you may want to enter healthcare by partnering with another company. Or you may want to enter the financial market in year 2 by building products in-house or acquiring products.</p>
		
		<h5>Visionary Roadmap</h5>
		<p>Visionary roadmaps paint a big picture of <i>trends</i> in the industry and society in general. By showing the trends you can then show how your products fit into the bigger picture and how you are taking advantage of the momentum happening in the market.</p>
		
		<h5>Technology Roadmap</h5>
		<p>Technology roadmaps show what trends are happening in the overall industry in terms of technology, and then allow you to map your company's products and releases to them. They are an excellent way to show how your company is taking advantage of up-and-coming new opportunities created by technology. (maybe automatically import new technology news based on company category?)</p>
	
		<h5>Platform Roadmap</h5>
		<p>Platform roadmaps are used by companies that have an overall paltform strategy that relies on partners working closely with them. Examples of platforms includes Windows, Palm OS, Google, Mac OS and others. In a platform roadmap you show what will be happening wit hthe core platform software as well as what the platform company will be delivering in terms of their own products and the development tools that partners will need to use to support the platform.</p>
		
		<h5>Internal/External Product Roadmap</h5>
		<p>Product roadmaps are used to show when product releases will be available, what their overall theme or main features are and what secondary features will also be included. Internal roadmaps can be used for driving development priorities, communicating to upper management and other departments and for use in obtaining funding for the company. External roadmaps are used for communicating to customers, partners, press and analysts. External roadmaps should be based on the corresponding internal roadmaps, but should be much more vague.</p>
		
		<h4>Competitor Research</h4>
		<li><strong>2. Assess competitive moves, market and technology trends</strong></li>
		<p>Competitor list, competitor feature list</p>
		
		<h4>Feature Prioritization</h4>
		<li><strong>3. Gather and prioritize requirements</strong></li>
		<p>Step 1: AARRR funnel, requirements tagged with tag (acquisition, activation, etc)</p>
		<p>Step 2: Prioritize in order of importance (nice-to-have, normal, urgent, core, innovative, golden feature)</p>
		<p>After you have gathered up a master list of all feature requests you'll need a way to logically sort through and prioritize them. The easiest method for this is to use a prioritization matrix. The matrix allows you to create categories such as revenue impact, strategic importance, customer pain level, etc. and then to assign a weighting to each one. Once you have ranked each feature using the criteria and weighting you can then sort based on total score and you get a ranked list of which features are most important.</p>
		
		<h4>Timeframe</h4>
		<li><strong>4. Decide on the timeframe that is most appropriate to use</li>
		<p>Take phases into account: Ideation, Pending, Spec, Design, Development, QA + Integration tests, Release</p>
		
		
		<li><strong>5. Choose an organizing strategy for features</strong></li>
		<p>If 18 months, derive # of sprints left, determine basic timeline AVAILABLE per phase</p>
		
		<li><strong>6. Build internal roadmap</strong></li>
		<li><strong>7. Get buy-in on the internal roadmap from your team(s) and finalize</strong></li>
		<li><strong>8. Create an external roadmap based on the internal roadmap</strong></li>
	</ul>


</div>