// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#danger-btn:hover {
	border: 2px;
	background: #e74c3c;
	color: #fff;
}

#user-id {
	float: right;
	margin-top: -65px;
}